{% extends 'main/base.html' %}

{% block content %}
<div class="container" style="padding-top: 60px;">
    <h1>Hello {{current_user.name}}!</h1>
    <p>Here is the weekly menu. Feel free to update your order quanities as much as you like. Just make sure you have
        your order it by Thursday.</p>
</div>

<div class="container text-center">
    <h1>Weekly Menu</h1>
</div>

<div class="container">
    <div class="form-group">
        <table class="table table-borderless table-sm">
            <thead>
                <tr>
                    <th scope="col" style="font-size: 30px; font-style: italic"></th>
                    <th scope="col" style="font-size: 30px; font-style: italic"></th>
                    <th scope="col" style="font-size: 30px; font-style: italic">Special Requests</th>
                    <th scope="col" style="font-size: 30px; font-style: italic">Quantity</th>
                    <th scope="col" style="font-size: 30px; font-style: italic">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for i in order_items %}
                <tr>
                    <th scope="row"><img src="{{ i.item.picture_url }}" alt="{{ i.item }}">
                        </td>
                    <td>
                        <h3>{{ i.item }}</h3>
                        <p>{{ i.item.description }} {{i.item.proteins}}C/{{i.item.carbs}}P/{{i.item.fats}}F
                            {{i.item.calories}}CAL</p>
                    </td>
                    <td>{{ i.special_requests }}</td>
                    <td>{{ i.quantity }}</td>
                    <td><a href="{% url 'orderitem-update' i.id %}" class="btn btn-outline-success btn-md">Update</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<div class="container text-end">
        <h1>Current Meal Total: {{current_total}}</h1>
</div>

{% endblock %}