{% extends 'main/base.html' %}

{% block content %}
<div class="container firstElement">
    {% for message in messages %}
    <div class="alert alert-info text-center" role="alert">{{ message }}</div>
    {% endfor %}
    <h1 class="text-center">Weekly Menu</h1>
    <h3>Hello {{ current_user.name }}!</h3>
    <p>Here are our delicious meals for the week. There's no need to click a button to submit your order; simply update your order as many times as you would like before the ordering window closes at 11:59 pm on Thursday.</p>

</div>

{% if order_items|length > 0 %}
<div class="container">
    <h3 class="text-center letterText">Current Order</h3>
    {% for order in order_items%}
    {% if order.quantity > 0 %}
    <div class="alert alert-info text-end my-1 p-1" role="alert">
        {{ order.item }} <span class="badge rounded-pill bg-warning text-dark">{{ order.quantity}}</span>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="container mb-4">
    <div class="alert alert-warning text-end my-1 p-1 fw-bold text-decoration-underline" role="alert">
        Total Meals:<span class="badge rounded-pill bg-warning text-dark">{{ current_total }}</span>
    </div>
    <div class="alert alert-warning text-end my-1 p-1 fw-bold text-decoration-underline" role="alert">Remaining Subscription Meals:<span class="badge rounded-pill bg-warning text-dark"> {{ meals_remaining_after_order }}</span>
    </div>
</div>
<div class="container">
    {% for meal in order_items %}
    <div class="row mb-4 border border-info border-2">
        <div class="col-md-2 px-2 pt-2">
            <img src="{{ meal.item.large_picture_url }}" alt="{{ meal.item }}" class=" mx-auto d-block img-fluid">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col">
                    <p class="fs-4 letterText mt-2 mb-1">{{ meal.item }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="fs-6 mb-2">{{ meal.item.description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="fs-7 fw-bold">{{ meal.item.proteins }}C/{{ meal.item.carbs }}P/{{ meal.item.fats }}F
                        {{ meal.item.calories }}CAL</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col">
                    <p class="mt-4 mb-2"><span class="fs-6 letterText fw-bold">Special Requests: </span>{{ meal.special_requests }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mt-2 mb-2 fw-bold"><span class="fs-6 letterText">Quantity: </span>{{ meal.quantity }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center pb-4 pt-3">
                    <a href="{% url 'orderitem-update' meal.id %}" class="btn btn-outline-info btn-lg">Update</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="container letterText closedMenu">
    <h3>Oh no! You're too late! Ordering for this week's menu is already over. Please stop by next week to place your orders!</h3>
</div>

{% endif %}

{% endblock %}