{% extends 'main/base.html' %}



{% block content %}
<div class="container text-center firstElement col-md-6">
    <img src="{{ object.item.large_picture_url }}" alt="{{ i.item }}" style="max-width: 100%;">
    <h2>{{ object.item.name }}</h2>
    <p>{{ object.item.description }}</p>
    <p>{{object.item.proteins}}C/{{object.item.carbs}}P/{{object.item.fats}}F
        {{object.item.calories}}CAL</p>
</div>
<div class="container">
    <div class="mb-3 col-md-6 mx-auto letterText">
        <form action="{% url 'orderitem-update' object.id %}" method="post">
            {% csrf_token %}
            <div class="fieldWrapper">
                {% if form.quantity.errors %}
                    {% for error in form.quantity.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                {% endif %}
                {{ form.quantity.label_tag }}
                {{ form.quantity }}
            </div>
            <div class="fieldWrapper">
                {% if form.special_requests.errors %}
                    {% for error in form.special_requests.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                {% endif %}
                {{ form.special_requests.label_tag }}
                {{ form.special_requests }}
            </div>
            <div class="container container text-center">
                <a href="{% url 'orderitems' %}" class="btn btn-outline-dark btn-lg">Cancel</a>
                <input type="submit" value="Update" class="btn btn-outline-info btn-lg">
            </div>
        </form>
    </div>
</div>
{% endblock %}