{% extends 'main/base.html' %}




{% block content %}
<div class="starter-template text-center py-5 px-3">
    <img src="{{ object.item.picture_url }}" alt="{{ i.item }}" style="max-width: 100%;">
    <h2>{{ object.item.name }}</h2>
    <p>{{ object.item.description }}</p>
</div>

<form action="{% url 'orderitem-update' object.id %}" method="post">
    <div class="form-group"></div>
    {% csrf_token %}
    {{ form.as_p }}
    <a href ="{% url 'orderitems' %}" class="btn btn-success btn-sm">Cancel</a>
    <input type="submit" value="Update">
    </div>
</form>
{% endblock %}