{% extends 'main/base.html' %}



{% block content %}
<div class="container text-center firstElement col-md-6">
    <img src="{{ object.item.large_picture_url }}" alt="{{ i.item }}" style="max-width: 100%;">
    <h2>{{ object.item.name }}</h2>
    <p>{{ object.item.description }}</p>
    <p>{{object.item.proteins}}C/{{object.item.carbs}}P/{{object.item.fats}}F
        {{object.item.calories}}CAL</p>
</div>
<div class="container">
    <div class="mb-3 col-md-6 mx-auto letterText">
        <form action="{% url 'orderitem-update' object.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <div class="container container text-center">
                <a href="{% url 'orderitems' %}" class="btn btn-secondary btn-lg">Cancel</a>
                <input type="submit" value="Update" class="btn btn-success btn-lg">
            </div>
        </form>
    </div>
</div>
{% endblock %}