{% extends 'main/base.html' %}

{% block content %}

<h1>Weekly Menu</h1>
<div class="form-group">
    <table class= "table table-bordered">
        <th style="font-size: 30px; font-style: italic">Food</th>
        <th style="font-size: 30px; font-style: italic">Description</th>
        <th style="font-size: 30px; font-style: italic">Quantity</th>       
        <th style="font-size: 30px; font-style: italic">Edit</th>
        {% for i in subscriptions %}
        <tr>
            <td>{{ i.item }}</td>
            <td>{{ i.item.description }} {{i.item.proteins}}C/{{i.item.carbs}}P/{{i.item.fats}}F {{i.item.calories}}CAL</td>
            <td>{{ i.quantity }}</td>
            <td><a href ="" class="btn btn-success btn-sm">Update</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}