{% extends 'main/base.html' %}


{% block content %}
<div class="container text-center" style="padding-top: 60px;">
    <h1>Password reset</h1>
    <p>
        Can't remember your password? Enter your email address below and
        we will email instructions for resetting it.
    </p>
</div>
<div class="container mb-4 col-4">
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <div class="container mt-3 t text-center"> 
            <input type="Submit" name="Send Email" class="btn btn-lg btn-outline-success">
        </div>
    </form>
</div>




{% endblock %}