{% extends 'main/base.html' %}


{% block title %}
The Good Life Meal Prep Subscribers | Password Reset Sent
{% endblock %}

{% block content %}
<div class="container text-center" style="padding-top: 60px;">
    <h1>Password reset sent</h1>
    <p>If the email address that you provided is associated with a Good Life Meal Prep Member account, then instructions
        for resetting your password have been sent to that email adddress</p>
    <p>If you don't recieve an email, please make sure you've entered the correct email address. If you're still not
        reciving
        an email, please use the contact form and somebody will get back to you shortly.
    </p>
</div>
{% endblock %}