{% extends 'main/base.html' %}

{% block title %}
The Good Life Meal Prep Subscribers | Password Reset Form
{% endblock %}


{% block content %}
<div class="container text-center firstElement">
    <h1>Password Reset</h1>
    <p>Please enter your new password.</p>
</div>
<div class="container">
    <div class="mb-3 col-md-6 mx-auto letterText">    
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container text-center">
                <a href="{% url 'home' %}" class="btn btn-outline-dark btn-lg">Cancel</a>
                <input type="submit" value="Submit" class="btn btn-lg btn-outline-info">
            </div>
        </form>
    </div>
</div>
{% endblock %}