{% extends 'main/base.html' %}


{% block title %}
The Good Life Meal Prep Subscribers | Password Change Form
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 60px;">
    <h1>Password Change Form</h1>
</div>
<div class="container">
    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container text-end">
                <input type="submit" value="Update" class="btn btn-success btn-md">
            </div>
        </form>
    </div>
</div>
{% endblock %}