{% extends 'main/base.html' %}


{% block title %}
The Good Life Meal Prep Subscribers | Password Reset Sent
{% endblock %}

{% block content %}
<div class="container text-center firstElement col-md-6">
    <h1>Password Reset Sent</h1>
    <p>If your provided email address is associated with a Good Life Meal Prep subscriber account, then instructions for resetting your password have been sent. If you don't receive an email, please make sure you've entered the correct email address. If you're still not receiving a password reset email, please email Chef Andrew at <a href = "mailto:apro@thegoodlifemealprep.com?subject = Password Reset" style="color: inherit">apro@thegoodlifemealprep.com</a>.</p>
    <a href="{% url 'login' %}" class="btn btn-lg btn-outline-info">Login</a>
</div>



{% endblock %}