{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<div class="container text-center firstElement col-6">
    <h1>Sign Up Page</h1>
    <p class="bodyText">Praesent nizzle mi non maurizzle posuere bibendum. Aliquizzle sheezy viverra lectizzle. Ma nizzle
        izzle enim et
        leo sodalizzle yippiyo. Aliquizzle lobortizzle, maurizzle crunk dapibizzle away, nulla ligula bibendizzle
        shizzle my nizzle crocodizzle, izzle venenatis augue my shizz funky fresh arcu. Vivamus mofo lacizzle id
        ipsizzle. Vivamizzle get down get down break it down, fermentizzle rizzle amizzle, faucibus mofo, placerat
        izzle, sure. Sed vehicula laoreet dawg. Vestibulizzle erizzle diam, shizzle my nizzle crocodizzle izzle,
        condimentum ac, malesuada a, arcu. Morbi its fo rizzle placerizzle nulla.</p>
</div>
<div class="container">
    <div class="mb-3 col-5 mx-auto letterText">
        <form action="/accounts/create/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container text-center">
                <input type="submit" value="Submit" class="btn btn-success btn-lg col-8 signUpButton">
            </div>
        </form>
    </div>
    {% for message in messages %}
    <li> {{ message }} </li>
    {% endfor %}
</div>

{% endblock %}