{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="container text-center firstElement col">
    <h1>Login Page</h1>
    <p class="bodyText">Log in to your account to select your weekly meals.</p>
</div>
<div class="container">
    <div class="mb-3 col-md-6 mx-auto letterText">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container text-center">
                <input type="submit" value="Login" class="btn btn-lg btn-outline-primary" />
            </div>
            <div class="container text-center">
                <a href="{%  url 'reset_password' %}" class="bodyText">Forgot Password</a>
            </div>
        </form>
        {% for message in messages %}
        <div class="alert alert-info" role="alert" id="test">
            <li> {{ message }} </li>
        </div>
        {% endfor %}
        <div class="container text-center">
            <a href="{%  url 'home' %}" class="bodyText">Click Here to Sign Up</a>
        </div>
    </div>
</div>

{% endblock %}