{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="container text-center firstElement col-md-6">
    <h1>Login Page</h1>
    <p class="bodyText">Log in to your account to select your weekly meals.</p>
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>
<div class="container">
    <div class="mb-3 col-md-6 mx-auto letterText">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container text-center">
                <input type="submit" value="Login" class="btn btn-lg btn-outline-primary" />
            </div>
            <div class="container text-center">
                <a href="{%  url 'reset_password' %}" class="bodyText">Forgot Password</a>
            </div>
        </form>
        <div class="container text-center">
            <a href="https://www.thegoodlifemealprep.com/online-ordering" class="bodyText">Click here to purchase a subscription</a>
        </div>
    </div>
</div>

{% endblock %}