{% extends 'main/base.html' %}



{% block content %}

<div class="container text-center" style="padding-top: 60px;">
  <h1>The Good Life Meal Prep Subscribers Page</h1>
  <p class="lead">Lorem ipsizzle dolor hizzle amizzle, consectetizzle adipiscing fo shizzle mah nizzle fo rizzle, mah home g-dizzle. Nullizzle sapizzle velizzle, uhuh ... yih! volutpat, suscipizzle quis, dope hizzle, crazy. Pellentesque eget tortizzle. Fo shizzle shiznit. That's the shizzle at funky fresh dapibizzle shut the shizzle up tempus shiz. Maurizzle gangster nibh et turpizzle. Dope izzle tortor. Pellentesque the bizzle rhoncizzle . In shiz for sure platea dictumst. Nizzle dapibus. Izzle tellizzle hizzle, pretizzle eu, mattizzle own yo', fizzle shizzle my nizzle crocodizzle, nunc. Shit funky fresh. Integer sempizzle yo sed purus.</p>
  <a href="{% url 'user_sign_up' %}" class="btn btn-lg btn-outline-success">Sign Up</a>
</div>
{% endblock %}