{% extends 'main/base.html' %}



{% block content %}

<div class="starter-template text-center py-5 px-3">
  <h1>The Good Life Meal Prep Subscribers Page</h1>
  <p class="lead">Landing Page</p>
  <p>Click Here to Login</p>
  <p class="lead">
    <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Login</a>
  </p>
  <p>Click Here to Signup</p>
  <p class="lead">
    <a href="{% url 'user_sign_up' %}" class="btn btn-lg btn-secondary">Sign Up</a>
  </p>
  <p>Click Here to Reset Passowrd</p>
  <p class="lead">
    <a href="{% url 'reset_password' %}" class="btn btn-lg btn-secondary">Reset Password</a>
  </p>

</div>

{% endblock %}