{% extends 'main/base.html' %}

{% block title %}
The Good Life Meal Prep Subscribers Page
{% endblock %}

{% block content %}
<div class="container text-center col firstElement">
  <h1>The Good Life Meal Prep</h1>
  <h1>Subscribers Page</h1>
</div>
<div class="container text-center col-md-6 letterText">
  <p>Welcome to the Good Life Meal Prep Subscribers Page. If you are an existing customer and have an active monthly subscription, click the login button below to place your weekly subscription order. Otherwise, <a href="https://www.thegoodlifemealprep.com/online-ordering">click here</a> to see our available plans.</p>
  <a href="{% url 'login' %}" class="btn btn-lg btn-outline-primary">Login</a>
</div>
{% endblock %}